.app {
  margin: 20px;
}

* {
  box-sizing: border-box;
}

input[type=text]{
  text-transform: uppercase;
  width : 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}